<footer class="site-footer">
    <ul class="social-media-list">
        {% if site.github_username %}
        <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa-brands fa-github"></i></a>
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa-brands fa-twitter"></i></a>
        </li>
        {% endif %}
    </ul>
    <div class="legal">
        &copy; Jeff Walker 2022 All right reserved.
    </div>
</footer>
